/* || General setup */

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

html,
body {
  margin: auto;
  margin-top: 3vh;
  padding: 0;
  width: 720px;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Typography */

html,
body {
  font-family: PressStart2P;
  color: #fbfbfb;
  font-size: 8px;
}

/* || Game */

/* general game setup */

body {
  background: #1e1e1e;
  display: grid;
  grid-template-areas: "scorelives" "myCanvas";
}

#myCanvas {
  display: flex;
  justify-content: center;
}

canvas {
  position: relative;
  width: 73.7em;
  height: 45em;
  bottom: 1em;
}

/* display score and lives */

#scorelives {
  font-size: 2rem;
  margin-top: -0.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#score {
  margin-left: 2em;
  margin-right: auto;
}

#lives {
  margin-left: 17em;
  /* position: absolute;
  right: 17em; */
}

/* row of hearts */
#hearts {
  /* position: relative;
  right: 11em;
  top: 28.5em; */
  min-width: 75px;
  margin-left: 1em;
  margin-right: auto;
}

/* individual hearts */
.heart {
  width: 20px;
  margin-left: 5px;
}

/* start screen  */

#start {
  display: grid;
  margin-left: 2em;
  margin-top: -5em;
}

#start > * {
  letter-spacing: 0.25em;
}

h1 {
  margin-top: 2em;
  font-size: 6em;
  justify-self: center;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.5rem;
  justify-self: center;
}

h3 {
  margin-bottom: 17em;
  font-size: 1.25rem;
  justify-self: center;
}

/* win screen */

#win {
  display: grid;
  height: 400px;
}

#win > * {
  justify-self: center;
}

/* congrats screen */
#congrats {
  display: grid;
}

#congrats > * {
  justify-self: center;
}

/* lose screen */

#lose {
  display: grid;
  height: 400px;
}

#lose > * {
  justify-self: center;
}

#lose h2 {
  margin-top: 5em;
}

/* checkerboard background */

html {
  background: repeat center/5% url("../img/bg.png");
}

/* game screen bg's */

#congrats,
#win {
  background: url("../img/bgCongratsWin.png");
}

#lose {
  background: url("../img/bgLose.png");
}

/* game screen dimensions */

body {
  margin-top: 8em;
  width: 650px;
  height: 400px;
}

#saWrap {
  position: absolute;
  top: 38.73em;
  overflow: hidden;
  width: 650px;
}

/* hide screens  */

.hidden,
#congrats.hidden,
#win.hidden,
#lose.hidden,
#saWrap.hidden,
#myCanvas.hidden,
#scorelives.hidden,
.hidden > * {
  display: none;
}
